* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}
body {
  font-family: "Lora";
}

nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 92px;
  padding: 15px;
  font-size: 20px;
  font-weight: 500;
}

a {
  color: #ffff;
  text-decoration: none;
  transition: all 0.6s ease-out;
  padding: 10px 20px;
  text-align: center;
  border-radius: 8px;
}

nav a:hover {
  background-color: #ffffff;
  color: #000000;
  transform: scale(1.05);
}
.navbar-menu {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.hero-section {
  background-image: url("https://wallpapercat.com/w/full/8/4/a/593602-2560x1600-desktop-hd-coffee-beans-wallpaper.jpg");

  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  background-position: center;
}

.hero-content {
  color: #ffff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: left;
  height: 100vh;
  padding: 20px;
  gap: 50px;
  font-size: 20px;
}
button {
  background-color: #e08f3e;
  padding: 12px 20px;
  color: #f4f4f4;
  border-radius: 8px;
  border: none;
  font-size: 18px;
  cursor: pointer;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
  transition: all 1s ease-in-out;
  display: inline-block;
}

.menu-section {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 3rem;
  margin: 3rem;
}
img {
  width: 14rem;
  height: 16rem;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
.menu-cards {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  gap: 20px;
  justify-content: center;
  align-items: center;
}
.menu-cards__content:hover {
  transform: scale(1.03);
}
.menu-cards__content {
  width: 17rem;
  height: 25rem;
  box-shadow: 0px 6px 10px rgba(0, 0.3, 0.3, 0.3);
  transition: all 0.3s ease-in-out;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
  border-radius: 10px;
  padding: 10px 10px;
  text-align: center;
  cursor: pointer;
}
.menu-cards__content p {
  color: rgb(103, 113, 123);
}
.menu-cards__content h4 {
  color: rgb(97, 44, 44);
}

.About-section {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  padding: 3rem;

  background-color: #faf2f2b7;
}
.About__div {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 28px;
}
.About__para {
  text-align: center;
  font-size: 16px;
  display: flex;
  gap: 30px;
  flex-wrap: wrap;
  flex-direction: column;
  width: 35rem;
}
.about-img {
  width: 22rem;
  height: 12rem;
  border-radius: 10px;
  margin: 48px;
  transition: all 1s ease-in-out;
}
.about-img:hover {
  transform: scale(1.03);
}
span {
  font-weight: bold;
}
.Contact-section {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  gap: 15px;
  padding: 30px;
}
.contact-form {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
}
.inputname {
  height: 2.4rem;
  width: 68rem;
  padding: 10px;
  border: 2px solid #f4f4f4;
  border-radius: 6px;
}
.inputMessage {
  padding: 10px;
  height: 4rem;
  width: 68rem;
  border: #faf2f2b7;
  border: 2px solid #f4f4f4;
  border-radius: 6px;
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #141313;
  height: 6rem;
  color: #ffff;
  cursor: pointer;
}
footer p:hover {
  text-decoration: underline;
}

@media (max-width: 1024px) {
  nav {
    flex-direction: column;
    height: auto;
    padding: 10px;
    gap: 20px;
    text-align: center;
  }

  .navbar-menu {
    flex-direction: column;
    gap: 15px;
    text-align: center;
  }

  .navbar-menu a {
    display: block;
    width: 100%;
    padding: 10px;
  }

  .hero-section {
    height: 100vh;
    background-position: center;
  }

  .hero-content {
    justify-content: start;
    font-size: 20px;
    text-align: center;
  }

  .button {
    padding: 0.8rem 2.5rem;
    font-size: 16px;
  }

  .menu-cards {
    gap: 15px;
  }
  .menu-cards__content {
    max-width: 16rem;
  }

  .About__div {
    flex-direction: column-reverse;
  }
  .About__para {
    width: 100%;
  }
  .about-img {
    width: 18rem;
    height: auto;
  }

  .contact-form {
    width: 80%;
  }

  .inputname,
  .inputMessage {
    width: 100%;
    height: 3rem;
    padding: 12px;
  }
}

@media (max-width: 768px) {
  nav {
    flex-direction: column;
    height: auto;
    padding: 10px;
  }

  .navbar-menu {
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 10px;
    width: 100%;
    text-align: center;
  }

  .navbar-menu a {
    display: block;
    width: 100%;
    padding: 10px;
    font-size: 18px;
  }

  .hero-section {
    height: 70vh;
  }

  .hero-content {
    font-size: 18px;
    text-align: center;
    height: 47vh;
    gap: 30px;
    padding: 26px;
    justify-content: center;
  }

  .button {
    padding: 0.8rem 2rem;
    font-size: 16px;
  }

  .menu-section {
    gap: 2rem;
    margin: 2rem;
  }
  .menu-cards {
    flex-direction: column;
    align-items: center;
  }
  .menu-cards__content {
    width: 90%;
    max-width: 18rem;
  }
  .About-section {
    padding: 20px;
  }
  .About__div {
    flex-direction: column-reverse;
    gap: 20px;
    margin: 10px;
  }
  .About__para {
    width: 90%;
  }
  .about-img {
    width: 16rem;
    height: auto;
    margin: 10px;
  }

  .Contact-section {
    padding: 20px;
  }

  .inputname,
  .inputMessage {
    width: 100%;
    height: 3rem;
    padding: 12px;
  }
}

@media (max-width: 480px) {
  nav {
    flex-direction: column;
    height: auto;
    padding: 5px;
  }

  .navbar-menu {
    flex-direction: row;
    gap: 8px;
    width: 100%;
    text-align: center;
    flex-wrap: nowrap;
  }

  .navbar-menu a {
    font-size: 16px;
    padding: 8px;
    width: 100%;
  }

  .hero-section {
    height: 50vh;
    background-position: center;
  }

  .hero-content {
    font-size: 15px;
    text-align: center;
    gap: 17px;
    height: 35vh;
  }

  .button {
    padding: 0.7rem 1.5rem;
    font-size: 14px;
  }

  .menu-section {
    gap: 1.5rem;
    margin: 1.5rem;
  }
  .menu-cards__content {
    width: 100%;
    max-width: 16rem;
  }

  .About-section {
    padding: 1rem;
  }
  .About__div {
    margin: 0px;
    flex-direction: column-reverse;
    gap: 15px;
  }
  .About__para {
    width: 100%;
  }
  .about-img {
    width: 15rem;
    margin: 20px 0;
    height: 9rem;
  }

  .Contact-section {
    padding: 15px;
  }

  .inputname,
  .inputMessage {
    width: 100%;
    height: 2.8rem;
    padding: 8px;
  }

  footer {
    text-align: center;
  }
}
